<p><%= button_to "Sign out", logout_path, method: :delete %> </p>
<div class='submit-url'>
  <h3>Add a link here</h3>
   <%= form_for :link, class: "form-group", id: "new-link", url: '/api/v1/links' do |f| %>
      <%= label_tag(:url, 'Url') %>
      <%= url_field_tag(:url, class: 'url-tag') %>
      <%= label_tag(:title, 'Title') %>
      <%= text_field_tag(:title, class: 'title-tag') %>
      <%= submit_tag 'Submit', class: 'submit'%>
   <% end %>
 </div>

<div class='links'>
  <% @links.each do |link| %>
  <div class="card">
    <div class="container">
      <br>Title: <%= link.title %></br>
      <br>URL: <%= link_to link.url %> </br>
      <br>Read?: <%= link.read %></br>
      <%= link_to "Edit Link", edit_link_path(link), class: "btn" %>
    </div>
  </div>
  <% end %>
</div>
